#aa{
position:absolute;
top:0px;
width:100%;
height:40px;
background-color:blue;
}	
.top-center{
line-height:40px;
margin:0 80px;

}
.header-left{
	margin:0 auto;
	display:inline-block;
	padding:0 5px;
	}
.header-right{
	margin:0 auto;
	display:inline-block;
	padding:0 5px;
	float:right;
	
	}
#bb{
	position:absolute;
	top:50px;
	width:100%;
	height:110px;
		}
.bbtable1{
	positipn:absolute;
	width:900px;
	height:73px;
	padding-left:80px;
	text-align:center;
}
.bbtable1img{
	width:100px;
}
.Exal li{
	float:left;
	margin:0 5px;
	display:inline-block;
	font-size:2px;
}
.tableright{
	margin-left:50px;
}

.achange1{
	font-size:10px;
	float:right;
	padding-right:10px;
	background-color:blue;
	padding-left:10px;
}

.bbinput1{
	width:80%;
	height:100%;
	background-image:url('C:\Users\法因\Desktop\劉宸資料夾\程式\htm練習\yahoo.png')
	z-index:9999;
	
}
.bbtable2{
	position:absolute;
	width:1000px;
	top:-10px;
	left:950px;
	text-align:center;
}
.bbtableul li{
	display:inline-block;
	line-height:50px;
	float:left;
	width:100px;
		
}
.bbtableimg1{
	
	width:35%;
}
.bbtableimg2{
	padding-top:10px;
	width:35%;
}
.achange11{
	
	color:blue;
		
}



