.Navigation_sort{
	float:right;
	margin-right:25px;
	font-size:15px;
}
.Navigation_sort2{
	float:right;
	margin-right:25px;
	font-size:15px;
}
.Navigation_sort_ul li{
	list-style-type:none;
	line-height:38px;
	}
.Navigation_sort2_ul li{
	list-style-type:none;
	line-height:38px;
	}